@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


:root {
  font-family: roboto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-image: url('./../../public/svg.png');
/* 
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%; */
  background-size: cover;
}
